* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #656565;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 650px;
    min-height: 650px;
    background-color: #f0f8ff;
    border-radius: 600px;
    border: 15px solid #333;
    position: relative;
}

.trace1 {
    position: absolute;
    top: 0;
    height: 100%;
    transform: rotate(6deg);
    font-size: 16px;
    font-family: Impact;
    padding: 5px;
}

.trace2 {
    position: absolute;
    top: 0;
    height: 100%;
    transform: rotate(12deg);
    font-size: 16px;
    font-family: Impact;
    padding: 5px;
}

.trace3 {
    position: absolute;
    top: 0;
    height: 100%;
    transform: rotate(18deg);
    font-size: 16px;
    font-family: Impact;
    padding: 5px;
}

.trace4 {
    position: absolute;
    top: 0;
    height: 100%;
    transform: rotate(24deg);
    font-size: 16px;
    font-family: Impact;
    padding: 5px;
}

.number {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.number-1 {
    transform: rotate(30deg);
    
    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-2 {
    transform: rotate(60deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-3 {
    transform: rotate(90deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-4 {
    transform: rotate(120deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-5 {
    transform: rotate(150deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-6 {
    transform: rotate(180deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-7 {
    transform: rotate(210deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-8 {
    transform: rotate(240deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-9 {
    transform: rotate(270deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-10 {
    transform: rotate(300deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-11 {
    transform: rotate(330deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.number-12 {
    transform: rotate(360deg);

    &::before {
        display: block;
        content: 'l';
        font-weight: bold;
        font-size: 30px;
    }
}

.second-hand {
    position: absolute;
    height: 240px;
    width: 5px;
    background-color: #a52a2a;
    border-radius: 5px;
    transform: translate(0, -50%);
    /* O PONTO ZERO DO ELEMENTO DEIXA DE SER O CENTRO E PASSA A SER O BOTTOM, A PARTE DE BAIXO. PARA SER MAIS PRECISO COLOCAMOS UM center PARA INDICAR QUE O PONTO ZERO NO CENTRO DA PARTE DE BAIXO */
    transform-origin: bottom center;
}

.minute-hand {
    position: absolute;
    height: 200px;
    width: 8px;
    background-color: #333;
    border-radius: 5px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.hour-hand {
    position: absolute;
    height: 150px;
    width: 12px;
    background-color: #333;
    border-radius: 23px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.center {
    width: 20px;
    height: 20px;
    background-color: #a52a2a;
    border-radius: 50%;
    position: absolute;
}